body{
    background: url(https://cdn.abcotvs.com/dip/images/1902994_042217ktrkearthspace5img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}